{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
